<!DOCTYPE html>
<html lang="en-us" style="">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" href="/assets/images/Logo_Blank_Trans_500.png">
    <title>Dope Shows</title>
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Junction|Spinnaker" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="init.js"></script>
  <!--  <script src="app.js"></script> -->
    <script>
      $(document).ready(function(){
        $(".dropdown-button").dropdown({
              hover: true,
              beloworigin: true
          });
        
      });
    </script>
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container indigo-text darken-4">
        <a id="logo-container" href="/" class="brand-logo"><i class="material-icons">all_inclusive</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-button" data-activates="dropdown1" data-hover="true" data-beloworigin="true">Members<i class="material-icons right">arrow_drop_down</i></a>
          </li>
          <li><a href="/recent">Recent</a></li>
          <li><a href="/">Home</a></li>
        </ul>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/unbelievable">Unbelievable Podcast</a></li>
          <li><a href="/zengthis">Zeng This!</a></li>
          <li><a href="/stp">Secret Transmission Podcast</a></li>
        </ul>
        <ul id="dropdown1b" class="dropdown-content">
          <li><a href="/unbelievable">Unbelievable Podcast</a></li>
          <li><a href="/zengthis">Zeng This!</a></li>
          <li><a href="/stp">Secret Transmission Podcast</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <!-- <li><a href="/members">Members</a></li> -->
          <li><a class="dropdown-button" data-activates="dropdown1b" data-hover="true" data-beloworigin="true">Members<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/recent">Recent</a></li>
          <li><a href="/">Home</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

<!-- WAAAIT a second - in order to populate the show's patreon, links, etc this should be included on the individual show pages  -->
    <main>
      <div class="row">
        <div class="col s12 m10">
  {{{ body }}}
        </div>
        <div id="sideNav" class="col hide-on-small-only m2">
          <div class="pin-top" style="top: 0px;"><!-- toggles to pinned on scroll height -->
            <ul id="sideShows">
              <li><a href="/unbelievable">Unbelievable Podcast</a></li>
              <li><a href="/zengthis">Zeng This!</a></li>
              <li><a href="/stp">Secret Transmission Podcast</a></li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <p class="white-text">Dope Shows Copyright <i class="material-icons small" id="cr">copyright</i> 2017</p>
        </div>
      </div>
    </footer>

  </body>
</html>
