<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text text-darken-3">Lickin' Leukemia</h1>
      <div class="row center">
        <h5 class="header col s12 light">Strengthening bonds and raising funds for immunotherapy research.<br><br>Help someone fight like a TIGER</h5>
      </div>
      <div class="row center">
        <a href="https://www.paypal.com/us/fundraiser/charity/1237185" id="donate-paypal" class="btn-large waves-effect waves-light orange darken-3">PayPal</a>
      </div>
      <div class="row center">
        <a href="https://www.patreon.com/LickinLeukemia" id="donate-patreon" class="btn-large waves-effect waves-light orange darken-3">Patreon</a>
      </div>
      <div class="row center">
        <a href="https://www.gofundme.com/fit-to-hit-for-cancer" id="donate-gofundme" class="btn-large waves-effect waves-light orange darken-3">GoFundMe</a>
      </div>
      <div class="row center">
        <a href="https://cash.me/$LickinLeukemia" id="donate-square" class="btn-large waves-effect waves-light orange darken-3">Square Cash</a>
      </div>
      <div class="row center">
        <a href="https://smile.amazon.com/ch/46-2421135" id="donate-amazon" class="btn-large waves-effect waves-light orange darken-3">Amazon Smile</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="./assets/images/background12.jpg" alt="Unsplashed background img 1"></div>
</div>


{{!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7XZFU4EB3NER8">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 --}}
