<div id="index-banner" class="parallax-container events">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12">Join us for Fit to Hit for Cancer<br><br>April 29th, 2017<br><br> 6-9:30pm at the Cary Tennis Park</h5>
      </div>
      <div class="row center evTopBtn">
        <a href="https://form.jotform.com/70405999533162" id="register-button" class="btn-large waves-effect waves-light orange darken-3">Register Here</a>
      </div>
      <div class="row center evTopBtn">
        <a href="https://www.gofundme.com/fit-to-hit-for-cancer" id="gofundme-button" class="btn-large waves-effect waves-light orange darken-3">GoFundMe for this Event</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2">
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h5 id="eventsCopy">
          Want to work with us on future events?<br>Have an item or service that you would like to donate to our not-so-silent auction?<br>Get in touch with us through the medium of your choice!<br>
        </h5>
        <div class="row center buttons">
          <a href="m.me/LickLeuk" class="btn-large waves-effect waves-light orange darken-3">Facebook</a>
          <a href="https://twitter.com/LickinLeukemia" class="btn-large waves-effect waves-light orange darken-3 buffer">Twitter</a>
        </div>
        <div class="row center">
          <a href="mailto:lickinleukemia@gmail.com" class="btn-large waves-effect waves-light orange darken-3">Email</a>
          <a href="tel:19194543524" class="btn-large waves-effect waves-light orange darken-3 buffer" id="phoneBtn">919.454.3524</a>
        </div>
        <div class="row center">
          <h6>222 Draymore Way<br>Cary, North Carolina 27519</h6>
        </div>
      </div>
    </div>

  </div>
</div>
