  <div id="index-banner">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header">Dope Shows</h1>
        <div class="row">
          <p class="col s12" id="tagline">Something that says "hey, these pods are cool"</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 m4" id="tupCard">
          <div class="card">
            <div class="card-image">
              <div id="ci1" style="background-image: url('/assets/images/tupIcon.jpg')">
              </div>
              <div id="overlay"></div>
             <!-- <img src="/assets/images/tupIcon.jpg"> -->
            </div>
            <div class="card-content">
              <p class="showName">The Unbelievable Podcast</p><br>
              <p>Comedians Brian Frange and Phoebe Tyers explore the strangest, weirdest, and most unusual stories in our universe as well as the people behind them.</p>
            </div>
            <div class="card-action">
              <!-- player of recent episode w/ date published-->
              <a href="#">Imagine an embeded player of the most recent episode here</a>
            </div>
            <div class="card-action">
              <!-- more info (individual show page) -->
              <a href="/unbelievable">More +</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4" id="zengCard">
          <div class="card">
            <div class="card-image" style="background-image: url('/assets/images/zengIcon.jpg')">
             <!-- <img src="/assets/images/zengIcon.jpg"> -->
            </div>
            <div class="card-content">
              <p class="showName">Zeng This!</p><br>
              <p>Do you like Video games, Comics, Movies and Much More. Then we have a #Podcast for you. Give us a follow. Welcome to Zeng This!</p>
            </div>
            <div class="card-action">
              <!-- player of recent episode w/ date published-->
              <a href="#">Imagine an embeded player of the most recent episode here</a>
            </div>
            <div class="card-action">
              <!-- more info (individual show page) -->
              <a href="/zengthis">More +</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4" id="stpCard">
          <div class="card">
            <div class="card-image" style="background-image: url('/assets/images/stpIcon.jpg')">
              <!-- <img src="/assets/images/stpIcon.jpg"> -->
            </div>
            <div class="card-content">
              <p class="showName">Secret Transmission Podcast</p><br>
              <p>Conspiracies, myths, legends, cryptozoology, UFO sightings, aliens, fringe science, the supernatural, serial killers, and anything else weird! So come join us as we... TRY TO EXPLAIN... THE UNEXPLAINABLE.</p>
            </div>
            <div class="card-action">
              <!-- player of recent episode w/ date published-->
              <a href="#">Imagine an embeded player of the most recent episode here</a>
            </div>
            <div class="card-action">
              <!-- more info (individual show page) -->
              <a href="/stp">More +</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

