  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-darken-3">Lickin' Leukemia</h1>
        <div class="row center">
          <h5 class="header col s12 light">Strengthening bonds and raising funds for immunotherapy research.<br><br>Help someone fight like a TIGER</h5>
        </div>
        <div class="row center">
          <a href="/donate" id="donate-button" class="btn-large waves-effect waves-light orange darken-3">Donate Now</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="./assets/images/background12.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text darken-2"><i class="material-icons">accessibility</i></h2>
            <h5 class="center">Immunotherapy</h5>

            <p class="light">Immunotherapy, also called biologic therapy, is a cutting edge technology of cancer treatment.  The ultimate goal of immunotherapy is to boost the body's own immune system to target cancerous cells in the body and destroy only those cells while leaving healthy tissue alone.  The true beauty is "training" the immune system for each individual's cancer.  Immunotherapy, in time, will treat <u><b>all</b></u> cancers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text darken-2"><i class="material-icons">group</i></h2>
            <h5 class="center">Family Bonds</h5>

            <p class="light">Leukemia is a cancer of the blood and bone marrow.  It emerges within people of all ages, genders, and races; within the rich and poor; from all regions of the world.  Lickin' Leukemia was first founded to help families and caregivers restore and strengthen family bonds that become strained through the rigors of the treatment regimen.  Our foundation works to bring the family close again through a range of fun activities!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text darken-2"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Fund Raising</h5>

            <p class="light">100% of what Lickin' Leukemia takes in goes directly to the causes we support.<br>We absorb the program, administrative, and fundraising expenses to make each gift as powerful as the individuals and families we touch as well as the research we support.  Please help us continue in our quest!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12">Join us for Fit to Hit for Cancer<br><br>April 29th, 2017<br><br> 6-10pm at the Cary Tennis Park</h5>
          <div class="row center">
          <a href="https://form.jotform.com/70405999533162" id="register-button" class="btn-large waves-effect waves-light orange darken-3">Register Here</a>
        </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our History</h4>
          <p class="left-align light">Founded in 2012, Lickin Leukemia started as a small fundraiser at a Cary, North Carolina tennis and golf club to support two of the club's members who had been diagnosed with leukemia in less than six months.  It was the grace, love, and talents of the club's members that made the founders realize there was a need to be filled in the community and a debt to be repaid.
          <br><br>
          From there Lickin Leukemia became a fulfledged 501(c)(3) in 2013 and has been growing ever since.<br>We're fortunate to have an all-volunteer staff comprised of family-members simply looking to raise as much money and directly impact as many lives as we can -- on that end it is important to us to let you know that <u><b>100%</b></u> of what we receive goes directly toward our charitable work.  <br><br>Our goals are twofold: <br>Providing leukemia patients and their loved ones with resources to create lasting memories together as well as donating major gifts to immunotherapy research centers like UNC Lineberger Comprehensive Cancer Center. <br><br>
          We support immunotherapy since it build's off of the body's natural ability to fight like a tiger, it can be used against <u><b>all</b></u> forms of cancer, and it can be tweaked to work best with each individual & their particular type of cancer.
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
