<div class="parallax-container" id="tupPage">
  <div class="container">
    <div class="section">
    </div>
  </div>
  <div class="parallax"><img src="./assets/images/tupBanner.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">
    
    <div class="row">
      <div class="col s12">
        <h1>The Unbelievable Podcast</h1>
      </div>
    </div>

    <div class="row">

      <div id="episodes" class="container">
        <div class="section no-pad-bot">
          <br><br>
          <div class="row center">
          {{#each found}}
            <div class="col s12 m7">
              <div class="card horizontal">
                <div class="card-image">
                  <img src="{{this.epThumb}}">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <p>{{this.epDescription}}</p>
                  </div>
                  <div class="card-action">
                    <!-- need to have player structure setup -->
                    <a href="{{this.epMediaAudio}}"></a>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

