/*/// Main Layout ///*/
body{
}
main {
  min-height: 930px;
  background-color: #89BDCC;
}
main .row {
  margin-bottom: 0 !important;
}
#brandTitle {
  font-family: 'Spinnaker', sans-serif;
  color: #0A657F;
  letter-spacing: 7px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 28px;
  width: auto;
}
#logo-container i{
  font-size: 44px !important;
}
nav {
  font-family: 'Spinnaker', sans-serif;
  z-index: 2;
}
nav .brand-logo {
  color: #0A657F;
}
nav ul a {
  color: #0A657F;
}
nav a {
  vertical-align: middle !important;
  color: #0A657F !important;
  font-size: 20px !important;
}
.hide-on-med-and-down {
  font-size: 22px !important;
  vertical-align: middle !important;
}
h1 {
  margin: 0 !important;
  font-family: 'Spinnaker', sans-serif;
  font-weight: 900;
}
#tagline {
  text-align: right;
  padding-bottom: 7px;
}
label {
  font-family: 'Spinnaker', sans-serif;
  font-size: 18px;
}

.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

#cr {
  font-size: 14px;
}
footer p {
  font-family: 'Spinnaker', sans-serif;
  font-size: 16px;
  padding-bottom: 15px;
  text-align: right;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer {
  bottom: 0;
  background-color: #0A657F !important;
}
footer .page-footer {
  background-color: #0A657F !important;
}

.socialIcon {
  max-height: 22px;
}

/*/// Show Layout CSS ///*/
#sideNav {
  background-color: #0A657F;
  color: #fff;
  padding-right: 0 !important;
  height: 930px;
}
#sideShows li a{
  list-style-type: none;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  font-size: 20px;
  font-weight: 500px;
  color: #ABECFF;
  padding-top: 48px;
}
#sideShows li:hover a{
  height: 5%;
  font-size: 20px;
  font-weight: 500px;
  color: #0A657F;
  background-color: #5EDBFF;

}

/*/// index.handlebars ///*/

#index-banner {
  background-color: #0A657F;
  color: #fff;
  border-bottom-color: #55767F;
}
#index-banner header {
  margin-top: 10px;
  text-align: left;
  margin-bottom: 0px;
}
.showName {
  font-size: 20px;
  font-weight: 700;
}
.card:hover {
 transform: scale(1.01);
}
.card-content p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 500;
}
.card-action a {
  color: #55767F !important;
  font-weight: 500;
}
.card .card-image{
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: center;
}
#ci1{
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: center;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: static;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #navLogoImg {
    height: 3em;
    margin-top: 13%;
  }
  #llFooter {
    margin-top: 5%;
  }
  .evTopBtn {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container {
    min-height: 470px;
  }
  #navLogoImg {
    height: 3em;
    margin-top: 3%;
  }
  .card-image {
    display: none;
  }
}

@media only screen and (max-width : 528px) {
  #phoneBtn {
   margin-top: 3%;
  }
}